---
title: a9s Elasticsearch for PCF (Beta)
owner: Partners
---

<p class="note warning">
<strong>IMPORTANT: </strong>
The a9s Elasticsearch for PCF tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.
</p>

This documentation describes the a9s Elasticsearch for Pivotal Cloud Foundry (PCF) tile.

![a9s Elasticsearch for PCF logo](a9s-elasticsearch.png)

## <a id='overview'></a>Overview

a9s Elasticsearch for PCF enables on-demand provisioning of VM-based, dedicated Elasticsearch servers and clusters.
Developers can create instances of an Elasticsearch server or a cluster using Apps Manager or the
Cloud Foundry Command Line Interface (cf CLI) tool and bind these instances to an app.
Depending on the chosen service plan, a service instance may be associated with a single, dedicated VM
or a set of VMs consisting of multiple VMs comprising a cluster of Elasticsearch servers.

### <a id="current"></a>Current Features

a9s Elasticsearch for PCF includes the following key features:

| Feature | Benefits |
|---|---|
| **On&dash;Demand Service Instance Provisioning** | <ul><li>Fully automated deployment of Elasticsearch. Developers can provision a single VM Elasticsearch server or a multiple VM Elasticsearch cluster with a single command.</li><li>Only existing service instances allocate infrastructure resources, which are immediately released when you delete the service instance.</li><li>The number of service instances is not limited by design.</li></ul>|
| **Service Instance Isolation** | <ul><li>Each Elasticsearch server runs on a **dedicated VM** to ensure **bad neighborhood protection** and align with enterprise security requirements.</li><li>Cloud Foundry **security groups** ensure that **only authorized apps** connect to service instances.</li></ul>
| **High Availability** | <ul><li>Clusters are set up using the Elasticsearch inherent clustering feature.</li><li>**Consul-based internal DNS** delivered by a9s Consul DNS for PCF ensures that the connected app always connects to a working node.</li><li>The clustered data service plans are **spread across several infrastructure availability zones**, which enables very **short failover times** and a **strong resilience against failures** of individual infrastructure hosts or even entire availability zones.</li>|

[//]: # (### <a id="upcoming"></a>Upcoming Features)

[//]: # (The following features have already been developed and tested on <a href="https://paas.anynines.com/" target="_blank">paas.anynines.com</a>.)
[//]: # (These features will be included in upcoming a9s Elasticsearch for PCF tile releases.)

[//]: # (| Feature | Benefits |)
[//]: # (|---|---|)
[//]: # (| **On&dash;Demand Encrypted Remote Connectivity** | You can establish a **private encrypted tunnel** to your service instance **on&dash;demand**. Developers can use this connection to perform manual backups. As soon as the public connection is obsolete, you can terminate the tunnel to prevent further access. An additional component, the Service Jumper Module, provides this functionality. |)
[//]: # (| **Service Instance Capacity Upgrade** | You can **upgrade of the RAM, CPU, and storage capacity** for your Elasticsearch instances. |)
[//]: # (| **Logging and Monitoring** | Each Elasticsearch service instance **delivers log messages** and Elasticsearch-specific **metrics** to one or more **syslog/graphite** endpoints. Developers can configure the syslog/graphite endpoint to receive this data. |)

### <a id='video'></a>Video Overview of a9s Elasticsearch for PCF

The following video provides an overview of how a9s Elasticsearch for PCF works.

<p>
  <iframe src="http://www.youtube.com/embed/kqZmhBcDC6E"
    width="656" height="372" frameborder="0" allowfullscreen></iframe>
</p>

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about a9s Elasticsearch for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v0.9.3</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>April 20, 2017</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.7.x, v1.8.x, v1.9.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.7.x, v1.8.x, v1.9.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

To install and use a9s Elasticsearch for PCF, you must install the following products and tiles:

* Elastic Runtime v1.7 or v1.8
* [a9s Consul DNS](https://network.pivotal.io/products/a9s-consul) for PCF, v1.0.0 or later
* [a9s BOSH](https://network.pivotal.io/products/a9s-bosh) for PCF, v1.0.0 or later

For more information, see [Installing and Configuring a9s Elasticsearch for PCF](./installing.html).

## <a id="feedback"></a>Feedback and Support

a9s Elasticsearch for PCF is an automation toolset for Open Source Elasticsearch.
The entire anynines team can help your team get started and be successful.
Technical support, including a service level agreement, is available with a commercial license.

If your company has specific Elasticsearch administration policies or configuration best practices,
the anynines team is happy to incorporate them, if applicable.
Third-party Elasticsearch support organizations are also welcome to assist.

Contributions are welcome and will be investigated by the anynines team.
Send any bugs, feature requests, or questions to svc.support@anynines.com.

## <a id='license'></a>License

Contact the [anynines sales team](http://data-services.anynines.com/sales) to learn more about commercial licenses and support.
