---
title: a9s Elasticsearch for PCF Release Notes
owner: Partners
---

## <a id="090"></a>v0.9.0

**Release Date:** January 12, 2017

The a9s Elasticsearch for Pivotal Cloud Foundry (PCF) tile is based on a9s Elasticsearch,
which was developed in 2016 and is tested on <a href="https://paas.anynines.com/" target="_blank">paas.anynines.com</a>.
This release is marked as **BETA** because it represents the first PCF release.
The entire feature set of a9s Elasticsearch will be added to a9s Elasticsearch for PCF in subsequent releases.

Features included in this release:

* On-Demand Service Instance Provisioning
* Service Instance Isolation
* High Availability

## <a id="091"></a>v0.9.1

**Release Date:** January 30, 2017

* Added a smoke-tests errand.
  For more information, see <a href="./installing.html#errands">Errands</a>.
* Updated Elasticsearch to v5.1.2


## <a id="092"></a>v0.9.2

**Release Date:**  March 16, 2017

Change the required versions for the *a9s Consul DNS for PCF* and *a9s BOSH for PCF* tiles so that *a9s Elasticsearch for PCF* can be installed with the latest versions of the the two other tiles.

### Upcoming v0.10.0+

* Logging and Monitoring
