---
title: a9s Elasticsearch for PCF Release Notes
owner: Partners
---

## <a id="2-1-1"></a> v2.1.1

**Release Date:** March 19, 2019

**Added**
* a9s Backup Manager: Enable compression for backups. gzip is used for the
  compression.
* a9s Deployer: Add helper script
  /var/vcap/jobs/anynines-bosh-deployer/bin/rails_c to easily open Rails
  console.

**Updated**
* a9s Service Guard: Remove the App Restarter from a9s Service Guard manifest
  because the App Restarter is not usable with the current Cloud Foundry
  Diego cells.
* a9s Service Broker: Optimized response times for provision and deprovision
  endpoints. Previously those requests could take longer than one minute
  causing timeouts in CF.
* Service Dashboard: Optimize communication with a9s Service Broker
* Logstash: Configure Logstash to watch the a9s Parachute path too.
* a9s Consul: Register consul agent as BOSH DNS handler entry instead of adding
  as resolver when using within PCF tiles.
* Use timeout when connecting to service instances with the following SPI's:
  * RabbitMQ
  * MongoDB
  * Redis
  * PostgreSQL
  * MySQL

**Fixed**
* a9s Service Broker: Fix database migration if service instances
  are being provisioned/updated during migration.

## <a id="2-1-0"></a> v2.1.0

**Release Date:** March 7, 2019

* The consul domain can now be configured.
* The a9s BOSH DNS handler is added to make a9s service instances accessible
  from Diego cells.
* A backup option is added for a9s-pg.
* a9s Elasticsearch now supports instance sharing between orgs an spaces,
  see [documentation](https://docs.pivotal.io/pivotalcf/2-4/devguide/services/sharing-instances.html).
* Upgrades the stemcell to Ubuntu Xenial.

## <a id="2-0-2"></a> v2.0.2

**Release Date:** September 4, 2018

* On premise S3 endpoints for backup
* Adds default syslog and Graphite endpoints for service instances
* Compatible with PCF v2.2 and later


## <a id="2-0-1"></a> v2.0.1

**Release Date:** July 12, 2018

* Adds Service Dashboard that allows the enduser to trigger and restore backups itself.
* Adds a9s Elasticsearch v5 and v6
* Compatible to PCF v1.12 and later


## <a id="1-0-0"></a> v1.0.0

**Release Date:** August 25, 2017

* Adds a Backup Manager that allows the creation of manual and automatic backups and manual recoveries
* Service instance plan upgrade
* Logging and monitoring
* Removed plans with SSL support


## <a id="094"></a> v0.9.4

**Release Date:**  May 19, 2017

* Plans with SSL support
* Service Guard has been included. Service Guard manages [Application Security Groups](https://docs.pivotal.io/pivotalcf/concepts/asg.html) for your service instance.


## <a id="093"></a> v0.9.3

**Release Date:** April 20, 2017

* Adds icon for Apps Manager


## <a id="092"></a> v0.9.2

**Release Date:** March 16, 2017

Changed the required versions for the a9s Consul DNS for PCF and a9s BOSH for PCF tiles so that a9s Elasticsearch for PCF can be installed with the latest versions of the other two tiles.


## <a id="091"></a> v0.9.1

**Release Date:** January 30, 2017

* Adds a smoke-tests errand. For more information, see [Errands](./installing.html#errands).
* Updated Elasticsearch to v5.1.2


## <a id="090"></a> v0.9.0

**Release Date:** January 12, 2017

The a9s Elasticsearch for Pivotal Cloud Foundry (PCF) tile is based on a9s Elasticsearch, which was developed in 2016 and is tested on [paas.anynines.com](https://paas.anynines.com/). This release is marked as **Beta** because it represents the first PCF release. The entire feature set of a9s Elasticsearch will be added to a9s Elasticsearch for PCF in subsequent releases.

Features included in this release:

* On-Demand Service Instance Provisioning
* Service Instance Isolation
* High Availability
