---
title: a9s Elasticsearch for PCF Release Notes
owner: Partners
---

## <a id="090"></a>v0.9.0

**Release Date:** January 12, 2017

The a9s Elasticsearch for Pivotal Cloud Foundry (PCF) tile is based on a9s Elasticsearch, 
which was developed in 2016 and is tested on <a href="https://paas.anynines.com/" target="_blank">paas.anynines.com</a>. 
This release is marked as **BETA** because it represents the first PCF release. 
The entire feature set of a9s Elasticsearch will be added to a9s Elasticsearch for PCF in subsequent releases.

Features included in this release:

* On-Demand Service Instance Provisioning
* Service Instance Isolation
* High Availability

## <a id="091"></a>v0.9.1

**Release Date:** January 30, 2017

* Added a smoke tests errand. See <a href="/a9s-elasticsearch/installing.html#errands" target="_blank">the errands chapter</a> for more information.
* Updated Elasticsearch to version 5.1.2

### Upcoming v0.10.0+

* Service Instance Capacity Upgrade
* Logging and Monitoring
