---
title: Using a9s Elasticsearch for Pivotal Platform
owner: Partners
---

This topic describes how developers use a9s Elasticsearch.

## <a id='use-a9s-elasticsearch-with-an-app'></a> Use a9s Elasticsearch with an App

To use a9s Elasticsearch with an app, create a service instance and bind the service
instance to your app. For more information on managing service instances, see
[Managing Service Instances with the cf CLI](https://docs.cloudfoundry.org/devguide/services/managing-services.html).

### <a id='view-the-a9s-elasticsearch-service'></a> View the a9s Elasticsearch Service

After the service is installed, you can see the `a9s-elasticsearch5` and its service
plans appear in your CF marketplace. Run `cf marketplace` to see the service listing:

```bash
$ cf marketplace
Getting services from marketplace in org test / space test as admin...
OK
service               plans                                                     description
a9s-elasticsearch5    elasticsearch-single-small, elasticsearch-cluster-small,  This is the anynines Elasticsearch 5 service.
                      elasticsearch-single-big, elasticsearch-cluster-big
```

### <a id='create-a-service-instance'></a> Create a Service Instance

To provision an Elasticsearch database, run `cf create-service`.

```bash
$ cf create-service a9s-elasticsearch5 elasticsearch-single-small my-elasticsearch-service
```

Depending on your infrastructure and service broker utilization, it may take several
minutes to create the service instance.

Run the `cf services` command to view the creation status. This command displays
a list of all your service instances. To view the status of a specific service
instance, run `cf service NAME-OF-YOUR-SERVICE`.

### <a id='bind-an-app-to-a-service-instance'></a> Bind an App to a Service Instance

After your database is created, run `cf bind-service` to bind the service to your
app:

```bash
$ cf bind-service a9s-elasticsearch-app my-elasticsearch5-service
```

### <a id='restage-or-restart-your-app'></a> Restage or Restart Your App

To enable your app to access the service instance, run `cf restage` or
`cf restart` to restage or restart your app.

### <a id='obtain-service-instance-access-credentials'></a> Obtain Service Instance Access Credentials

After a service instance is bound to an app, the credentials of your Elasticsearch
database are stored in the environment variables of the app. Run `cf env APP-NAME`
to display the environment variables.

You can find the credentials in the [VCAP_SERVICES](https://docs.cloudfoundry.org/devguide/deploy-apps/environment-variable.html#VCAP-SERVICES) key.

```bash
$ cf env a9s-elasticsearch-app
Getting env variables for app a9s-elasticsearch-app in org test / space test as admin...
OK

System-Provided:
{
  "VCAP_SERVICES": {
   "a9s-elasticsearch5": [
    {
      "credentials": {
        "dns_servers": [
          "172.28.10.32",
          "172.28.11.11",
          "172.28.12.23"
         ],
        "host_ips": [
          "172.28.25.13"
        ],
        "host": [
          "EXAMPLE_HOST"
        ],
        "password": "EXAMPLE_USER",
        "username": "EXAMPLE_PASSWORD",
        "scheme": "http",
        "port": 9200
      },
     "label": "a9s-elasticsearch5",
     "name": "my-elasticsearch-service",
     "plan": "elasticsearch-cluster-small",
     "tags": [
      "searchengine"
     ]
    }
   ]
  }
}
...
```

You can use the host_ips, username, and password values to connect to your database
with an Elasticsearch client.

a9s Elasticsearch for Pivotal Platform comes with its own Consul cluster to provide hostname resolving.
When your DNS is configured to resolve the a9s Elasticsearch for Pivotal Platform service instance
domains you can make use of `hosts`.

<p class="note"><strong>Note:</strong> For more information, see [Name Resolving With Consul](https://docs.pivotal.io/partners/a9s-elasticsearch/name-resolving.html#name-resolving-with-consul).</p>

## <a id='delete-an-a9s-elasticsearch-service-instance'></a> Delete an a9s Elasticsearch Service Instance

<p class='note warning'><strong>WARNING:</strong> Before deleting a service instance,
you must backup data stored in your database. This operation cannot be undone and
all the data is lost when the service is deleted.</p>

Before you can delete a service instance, you must unbind it from all apps.

### <a id='list-available-services'></a> List Available Services

Run `cf services` to list your available services.

```bash
$ cf services

Getting services in org test / space test as admin...
OK

name                       service              plan                         bound apps              last operation
my-elasticsearch-service   a9s-elasticsearch5   elasticsearch-single-small   a9s-elasticsearch-app   create succeeded
```

This example shows that `my-elasticsearch-service` is bound to the `a9s-elasticsearch-app` app.

### <a id='unbind-a-service-instance'></a> Unbind a Service Instance

Run `cf unbind-service` to unbind the service from your app.

```bash
$ cf unbind-service a9s-elasticsearch-app my-elasticsearch-service
```

### <a id='delete-a-service-instance'></a> Delete a Service Instance

After unbinding the service, it is no longer bound to an app.
Run `cf delete-service` to delete the service:

```bash
$ cf delete-service my-elasticsearch-service
```

It may take several minutes to delete the service. Deleting a service de-provisions
the corresponding infrastructure resources. Run the `cf services` command to view
the deletion status.


## <a id='upgrade-the-service-instance-to-another-service-plan'></a> Upgrade the Service Instance to Another Service Plan

Once created, you can upgrade your service instance to another, larger service plan.
A larger service plan provides more CPU, RAM and storage. For more information,
see the [Update a Service Instance](https://docs.cloudfoundry.org/devguide/services/managing-services.html#update_service)
of the _Managing Service Instances with the cf CLI_ topic.

```bash
$ cf update-service my-elasticsearch-service -p a-bigger-plan
```

Here are the plans you can upgrade to, depending on the one you are currently using:

| Base Plan | Target Plan |
|------|-----------|
| elasticsearch-single-nano | elasticsearch-single-small <br> elasticsearch-single-medium <br> elasticsearch-single-big <br> elasticsearch-cluster-small <br> elasticsearch-cluster-medium <br> elasticsearch-cluster-big |
| elasticsearch-single-small | elasticsearch-single-medium <br> elasticsearch-single-big <br> elasticsearch-cluster-small <br> elasticsearch-cluster-medium <br> elasticsearch-cluster-big |
| elasticsearch-single-medium | elasticsearch-single-big <br> elasticsearch-cluster-medium <br> elasticsearch-cluster-big |
| elasticsearch-single-big | elasticsearch-cluster-big |
| elasticsearch-cluster-small | elasticsearch-cluster-medium <br> elasticsearch-cluster-big |
| elasticsearch-cluster-medium | elasticsearch-cluster-big |
| elasticsearch-single-nano-ssl | elasticsearch-single-small-ssl <br> elasticsearch-single-medium-ssl <br> elasticsearch-single-big-ssl <br> elasticsearch-cluster-small-ssl <br> elasticsearch-cluster-medium-ssl <br> elasticsearch-cluster-big-ssl |
| elasticsearch-single-small-ssl | elasticsearch-single-medium-ssl <br> elasticsearch-single-big-ssl <br> elasticsearch-cluster-small-ssl <br> elasticsearch-cluster-medium-ssl <br> elasticsearch-cluster-big-ssl |
| elasticsearch-single-medium-ssl | elasticsearch-single-big-ssl <br> elasticsearch-cluster-medium-ssl <br> elasticsearch-cluster-big-ssl |
| elasticsearch-single-big-ssl | elasticsearch-cluster-big-ssl |
| elasticsearch-cluster-small-ssl | elasticsearch-cluster-medium-ssl <br> elasticsearch-cluster-big-ssl |
| elasticsearch-cluster-medium-ssl | elasticsearch-cluster-big-ssl |


## <a id='add-a-graphite-endpoint'></a> Add a Graphite Endpoint

If you want to monitor your service with Graphite, you can set an endpoint to where
the information is sent with the `cf update-service` command. This command expects
the [-c flag](https://docs.cloudfoundry.org/devguide/services/managing-services.html#arbitrary-params-binding)
and a JSON string containing the `graphite` and `metrics_prefix` keys. Depending
on your Graphite provider, the `metrics_prefix` might require that each metric must
start with an API key in their name. You can also change the interval within the
data is send to the endpoint. To do this, modify `interval`; the default is 10s.

```bash
$ cf update-service my-elasticsearch-service -c '{ "graphite": ["yourspace.your-graphite-endpoint.com:12345"], "metrics_prefix": "your-api-key.my-cluster-elasticsearch", "interval": "5"}'
```


## <a id='add-a-syslog-endpoint'></a> Add a Syslog Endpoint

The `cf update-service` command used with the
[-c flag](https://docs.cloudfoundry.org/devguide/services/managing-services.html#arbitrary-params-binding)
allows you to stream your logs to a third-party service.
In this case, the command expects a JSON string containing the `syslog` key.
You can also change the interval for the syslog with the same key used to specify Graphite `interval`.

```bash
$ cf update-service my-elasticsearch-service -c '{ "syslog": ["logs4.your-syslog-endpoint.com:54321"], "interval": "5" }'
```

## <a id='enable_custom_plugins'></a> Enable Custom Plugins

You can use the `cf update-service` command with the
[-c flag](https://docs.cloudfoundry.org/devguide/services/managing-services.html#arbitrary-params-binding)
to enable plugins on demand such as the [analysis-phonetic](https://www.elastic.co/guide/en/elasticsearch/plugins/current/analysis-phonetic.html)
plugin which converts tokens to their phonetic representation using Soundex,
Metaphone, and a variety of other algorithms.
&nbsp;
To enable the analysis phonetic plugin you would use the following command:

```bash
$ cf update-service my-elasticsearch-service -c '{"plugins": ["analysis-phonetic"]}'
```

The currently available plugins are:

- repository-s3 (enabled by default, cannot be disabled)
- repository-azure (enabled by default, cannot be disabled)
- analysis-phonetic


## <a id='cloud-foundry-app-security-groups'></a> Cloud Foundry App Security Groups

This topic describes how to check whether a security group was created.
&nbsp;
Each a9s Data Service automatically creates and updates Cloud Foundry security
groups in order to protected service instances to be accessed by apps not
running in the same Cloud Foundry apps space. To understand Security Groups,
see [Application Security Groups](https://docs.cloudfoundry.org/concepts/asg.html).

### <a id='get-service-instance-guid'></a> Get Service Instance GUID

Run `cf service INSTANCE_NAME --guid` to get the GUID of the service instance.

```bash
$ cf service my-elasticsearch --guid
ca16f111-5073-40b7-973a-156c75dd3028
```

### <a id='check-available-security-groups'></a> Check Available Security Groups

To see all available security groups, run `cf security-groups`.

```bash
$ cf security-groups
Getting security groups as demo@anynines.com
OK

     Name                                         Organization     Space
#0   public_networks
#1   dns
#2   tcp_open
#3   guard_432fb752-876d-443b-a311-a075f4df2237   demonstrations   demo
#4   guard_ca16f111-5073-40b7-973a-156c75dd3028   demonstrations   demo
```

In the above example, `guard_ca16f111-5073-40b7-973a-156c75dd3028` was successfully
created.

<p class='note'><strong>Note:</strong> In some circumstances, the connection between
the app and the service instance is not possible. In this case, check to see if
a security group was created.</p>

## <a id='backup-and-restore-service-instances'></a> Back Up and Restore Service Instances

a9s Elasticsearch provides an easy way to create backups and restore if needed.
For a more detailed description see the [a9s Service Dashboard](a9s-service-dashboard.html)
documentation.

## <a id='make-a-service-instance-locally-available'></a> Make a Service Instance Locally Available

You can access any of the a9s Data Services locally. You can connect with a local
client to the service for any purpose such as debugging. CF provides a smart way
to create SSH forward tunnels through a pushed app. For more information
about this feature, see the [Accessing Apps with SSH](https://docs.cloudfoundry.org/devguide/deploy-apps/ssh-apps.html)
section of the CF documentation.
&nbsp;
First, you must have an app bound to the service. To do this, see
[Bind an App to a Service Instance](./using.html#bind-an-app-to-a-service-instance).

<p class='note'><strong>Note:</strong> `cf ssh` support must be enabled in the
platform. Your administrator can tell you whether it is enabled.</p>

### <a id='get-the-service-url-and-credentials'></a> Get The Service URL and Credentials

Follow the procedure in [Obtain Service Instance Access Credentials](./using.html#obtain-service-instance-access-credentials)
to get the hostname of the service and the user credentials.

```bash
$ cf env a9s-elasticsearch-app
Getting env variables for app a9s-elasticsearch-app in org test / space test as admin...
OK

System-Provided:
{
  "VCAP_SERVICES": {
   "a9s-elasticsearch5": [
    {
      "credentials": {
        "dns_servers": [
          "172.28.10.32",
          "172.28.11.11",
          "172.28.12.23"
         ],
        "host_ips": [
          "172.28.25.13"
        ],
        "host": [
          "EXAMPLE_HOST"
        ],
        "password": "EXAMPLE_USER",
        "username": "EXAMPLE_PASSWORD",
        "scheme": "http",
        "port": 9200
      },
     "label": "a9s-elasticsearch5",
     "name": "my-elasticsearch-service",
     "plan": "elasticsearch-cluster-small",
     "tags": [
      "searchengine"
     ]
    }
   ]
  }
}
...
```

Note the host `d67901c.service.dc1.a9svs`, the username `a9s-brk-usr`, and the
password `a9s-password`. You need them in the next step.

### <a id='create-a-tunnel-to-the-service'></a> Create a Tunnel to the Service

With `cf ssh`, you can create a SSH forward tunnel to the service instance.
Use port `9200` to connect to the a9s Elasticsearch Instance.

```bash
$ cf ssh a9s-elasticsearch-app -L 9200:d67901c.service.dc1.a9svs:9200
vcap@956aaf4e-6da9-4f69-4b1d-8e631a403312:~$
```

When the SSH tunnel is open, you can access the instance using the address
`localhost:9200`.

<p class='note'><strong>Note:</strong> Be sure to close the session by running
<code>exit</code>.</p>

## <a id="service-keys"></a> Service keys

To gain access to the service manually rather than binding apps to it, you can
use service keys.

### <a id="create-a-service-key"></a> Creating a Service Key

To create a key to the service instance `elasticsearch1` called `mykey`, run the
following command:

```bash
cf create-service-key elasticsearch1 mykey
```

### <a id="listing-service-keys"></a> Listing Service Keys

To list all the keys for the `elasticsearch1` service instance, run the following
command:

```bash
cf service-keys elasticsearch1
```

### <a id="accessing-service-keys"></a> Accessing Service Keys

To obtain the key `mykey` from the `elasticsearch1` service instance, run the
following command:

```bash
cf service-key elasticsearch1 mykey
```

### <a id="deleting-service-keys"></a> Deleting Service Keys

To delete the key `mykey` from the service instance `elasticsearch1`, run the
following command:

```bash
cf delete-service-key elasticsearch1 mykey
```

## <a id='setup-disk-usage_alerts'></a> Setup Disk Usage Alerts

Each service instance node comes with the **a9s Parachute** component. This component
monitors *ephemeral* and *persistent* disk usage. If one of these disk usages reaches
the configured threshold of 80%, the **a9s Parachute** stops all processes on that
node. Once the processes gets stopped, **a9s Parachute** logs the following messages
to its log directory:

```
Limit reached for: persistent disk
```

or

```
Limit reached for: ephemeral disk
```

### <a id='how-to-restart-stopped-instances'></a> How to Restart Stopped Instances

To restart a stopped instance, the user can use the `cf update-service` command to
set the `max_disk_threshold` custom parameter. All values between 0 and 100 are allowed.
Updating the instance does two things, at first the limit is set to the new value
and the instance restarts.
&nbsp;
To set the value to 90% do the following:

```bash
$ cf update-service <SERVICE_NAME> -c '{"max_disk_threshold": "90"}'
```

The update takes some minutes until the service is restarted.

<p class="note"><strong>Note:</strong> This is only a temporary solution. The nodes
are stopped when the threshold is reached again. For a long term solution the
service instance must be updated to a bigger plan.</p>
