---
title: Using the a9s Elasticsearch for PCF
owner: Partners
---

This topic describes how to use a9s Elasticsearch for Pivotal Cloud Foundry (PCF) after it has been successfully installed. For more information, see [Installing and Configuring Elasticsearch for PCF](./installing.html).

##<a id='using'></a> Use a9s Elasticsearch for PCF With an App

To use the a9s Elasticsearch for PCF with with an app, follow the procedures in this section to create a service instance and bind the service instance
to your app. For more information about managing service instances, see <a href="https://docs.cloudfoundry.org/devguide/services/managing-services.html" target="_blank">Managing Service Instances with the CLI</a>.

### <a id="list"></a>View the Service


After the tile is installed, `a9s-elasticsearch` and its service
plans appear in your PCF marketplace. Run `cf marketplace` to
see the service listing:

<pre class="terminal">
$ cf marketplace
Getting services from marketplace in org test / space test as admin...
OK

service            plans                                                                                              description
a9s-elasticsearch     elasticsearch-single-small, elasticsearch-cluster-small, elasticsearch-single-big, elasticsearch-cluster-big   This is the anynines Elasticsearch 5 service.
</pre>

See the next section for instructions on creating Elasticsearch service instances based on the plans listed in the `cf marketplace` output.


### <a id="create"></a> Create a Service Instance

You can provision a database with the `cf create-service`.

The following example creates a `elasticsearch-single-small` service that provisions a single VM Elasticsearch server. In contrast, the `cluster` service plans provision Elasticsearch clusters consisting of 3 virtual machines.

<pre class="terminal">
$ cf create-service a9s-elasticsearch elasticsearch-single-small my-elasticsearch-service
</pre>

Depending on your infrastructure and service broker usage, it may take several minutes to create the service instance.

Check the creation status using `cf services`. This displays a list of all your service instances. To check the status of a specific service instance, run `cf service NAME-OF-YOUR-SERVICE`.


### <a id="bind"></a>Bind the Service Instance to an App

After you create your database, run
`cf bind-service` to bind the service to your app:

<pre class="terminal">
$ cf bind-service a9s-elasticsearch-app my-elasticsearch-service
</pre>

### <a id="restart"></a>Restage or Restart Your App

To enable your application to access the service instance, run `cf restage` or `cf restart` to restage or restart your application.

### <a id="obtain"></a>Obtain Service Instance Access Credentials

After you bind your service instance to your app, you can find the credentials of your Elasticsearch
database in the environment variables of the app. Service instances are protected by HTTP Basic Auth, therefore applications connected to it need to add authentication details to all requests.

Run `cf env APP-NAME` to display environment variables. The credentials are listed under
the <a href="https://docs.cloudfoundry.org/devguide/deploy-apps/environment-variable.html#VCAP-SERVICES" target="_blank">VCAP_SERVICES</a> key.

<pre class="terminal">
$ cf env a9s-elasticsearch-app
Getting env variables for app a9s-elasticsearch-app in org test / space test as admin...
OK

System-Provided:
{
 "VCAP_SERVICES": {
  "a9s-elasticsearch": [
   {
     "credentials": {
      "host": [
       "EXAMPLE_HOST"
      ],
      "password": "EXAMPLE_USER",
      "username": "EXAMPLE_PASSWORD"
    },
    "label": "a9s-elasticsearch",
    "name": "my-elasticsearch-service",
    "plan": "elasticsearch-cluster-small",
    "tags": [
     "searchengine"
    ]
   }
  ]
 }
}
...
</pre>

You can use the host, username, and
password values with a Elasticsearch client to connect to the database.

##<a id='deleting'></a> Delete a a9s Elasticsearch for PCF Service Instance

<p class="note"><strong>Note</strong>: Before deleting a service instance, you must back up data stored in your database. This operation cannot be undone and all the data will be lost when the service is deleted.</p>

Follow the instructions below to unbind your service instance from all apps and delete it.

### <a id="list2"></a>List Available Services

Run `cf service` to list your available services.

<pre class="terminal">
$ cf service

Getting services in org test / space test as admin...
OK

name                    service          plan                      bound apps           last operation
my-elasticsearch-service   a9s-elasticsearch   elasticsearch-single-small   a9s-elasticsearch-app   create succeeded
</pre>

This example shows that `my-elasticsearch-service` is bound to the `a9s-elasticsearch-app` app.

### <a id="unbind"></a>Unbind a Service Instance

Run `cf unbind-service` to unbind the service from your app.

<pre class="terminal">
$ cf unbind-service a9s-elasticsearch-app my-elasticsearch-service
</pre>


### <a id="delete"></a>Delete a Service Instance

Run `cf delete-service` to delete the service.

<pre class="terminal">
  $ cf delete-service my-elasticsearch-service
</pre>

It may take up to several minutes to delete the service. Deleting a service deprovisions the corresponding infrastructure resources. Run the `cf services` command to check the deletion status.
